::selection {
  background-color: none;

  color: yellow;
}

.color-picker {
  background-color: #ebd6dc;
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
  border-radius: 10px;
}

#pick-color {
  background-color: #674d66;
  border: none;
  color: white;
  box-shadow: 8px 8px 4px rgb(57, 28, 66);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
#pick-color:hover {
  background-color: #473745;
  box-shadow: 6px 6px 2px rgb(18, 9, 20);
}
#copied-alert {
  color: black;
  font-size: 12px;
}

#color-section {
  background-color: yellowgreen;
  width: 50px;
  height: 14px;
  border: 3px solid black;
  padding: 12px;
  margin: 1px;
  border-radius: 10px;
  background-color: #fff;
}

.color-box {
  background-color: lightgray;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#copy-section {
  border: none;
  background-color: lightgray;
}

#hex-text {
  font-size: 25px;
}
