.color-picker {
  background-color: #ebd6dc;
  padding: 10px;
  width: 300px;
  margin: 20px auto;
  text-align: center;
}

#pick-color {
  background-color: #674d66;
  border: none;
  color: white;
  box-shadow: 8px 8px 4px rgb(57, 28, 66);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}
.h1 {
  size: 30px;
}

.color-box {
  background-color: lightgray;
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#demo-text {
  font-size: 18px;
}
